.drawer {
  height: 0;
}

.drawer {
  position: absolute;
  width: 300px;
  height: calc(100vh - 175px);
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.drawer--show {
  transform: translate(0, 0);
}
